@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
:root {
  --maine-light-text-color: #f7fbfb;
  --text-color: #a3a5a3;
  --maine-dark-text-color: #1b1d1b;
  --secondary-dark-text-color: #202321;
  --accent-color: #5b86a1;
  --line-color: #a3a5a3;
  // --typical-lh: 1.19;

  // --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4),
  //         rgba(47, 48, 58, 0.4))
}
// .current {
//     // color: var(--accent-color);
// }
