.hero__container {
  background-image: url(../../images/hero/hero_mob_1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  padding-top: 128px;
  width: 375px;
  height: 788px;
  max-width: 1920px;
  @include retina {
    background-image: url(../../images/hero/hero_mob_2x.jpg);
  }
  .hero {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    background-image: url(../../images/hero/hero_tab_1x.jpg);
    width: 768px;
    height: 818px;
    padding-top: 180px;
    @include retina {
      background-image: url(../../images/hero/hero_tab_2x.jpg);
    }
  }
  @media screen and (min-width: 1440px) {
    background-image: url(../../images/hero/hero_desk_1512_1x.jpg);
    width: 1440px;
    height: 1024px;
    padding-top: 280px;

    // @include retina {
    //   background-image: url(../../images/hero/hero_desk_1512_2x.jpg);
    // }
  }
  @media screen and (min-width: 1920px) {
    background-image: url(../../images/hero/hero_desk_1920\ _1x.jpg);
    width: 1920px;
    height: 975px;
    // @include retina {
    //   background-image: url(../../images/hero/hero_desk_1920_2x.jpg);
    // }
  }
}

.hero__title {
  font-weight: 400;
  font-size: 40px;
  color: var(--maine-light-text-color);
  line-height: 48.76px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  .hero__title__mobile {
    display: block;
  }
  .hero__title__tablet {
    display: none;
  }
  .hero__title__desktop {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    font-size: 68px;
    line-height: 82.89px;
    .hero__title__mobile {
      display: none;
    }
    .hero__title__tablet {
      display: block;
    }
    .hero__title__desktop {
      display: none;
    }
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 40px;
    font-size: 88px;
    line-height: 107.27px;
    .hero__title__mobile {
      display: none;
    }
    .hero__title__tablet {
      display: none;
    }
    .hero__title__desktop {
      display: block;
    }
  }
}
.hero__text {
  text-align: center;
  color: var(--maine-light-text-color);
  font-weight: 500px;
  font-size: 18px;
  margin-bottom: 88px;
  .hero__text__mobile {
    display: block;
  }
  .hero__text__tab__des {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24.38px;
    .hero__text__mobile {
      display: none;
    }
    .hero__text__tab__des {
      display: block;
    }
  }
  @media screen and (min-width: 1440px) {
    font-size: 28px;
    line-height: 34.13px;
  }
}
